EXPO_PUBLIC_API_BASE_URL=https://vidtalk.6281401.xyz
EXPO_PUBLIC_USE_MOCK_DATA=true
EXPO_PUBLIC_SUPABASE_URL=https://izustvmcqvvcpoexyotr.supabase.co
EXPO_PUBLIC_SUPABASE_ANON_KEY=your_supabase_anon_key
EXPO_PUBLIC_CLOUDINARY_CLOUD_NAME=qcx26olk
EXPO_PUBLIC_CLOUDINARY_UPLOAD_PRESET=your_unsigned_preset
EXPO_PUBLIC_GOOGLE_CLIENT_ID=your_google_client_id
